<body>
  <div class="flex flex-col items-center h-[100vh]">
    <div
      class="relative flex flex-col items-center rounded-[20px] w-[700px] max-w-[95%] mx-auto bg-white bg-clip-border shadow-3xl shadow-shadow-500 dark:!bg-navy-800 dark:text-white dark:!shadow-none p-3"
    >
      <div class="mt-2 mb-8 w-full">
        <h4 class="px-2 text-xl font-bold text-navy-700 dark:text-black">
          <button>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"
              />
            </svg>
          </button>
          Infomacion General
        </h4>
        <p class="mt-2 px-2 text-base text-gray-600">
          As we live, our hearts turn colder. Cause pain is what we go through
          as we become older. We get insulted by others, lose trust for those
          others. We get back stabbed by friends. It becomes harder for us to
          give others a hand. We get our heart broken by people we love, even
          that we give them all...
        </p>
      </div>
      <div class="grid grid-cols-2 gap-4 px-2 w-full">
        <div
          class="flex flex-col items-start justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none"
        >
          <p class="text-sm text-gray-600">Education</p>
          <p class="text-base font-medium text-navy-700 dark:text-black">
            Stanford University
          </p>
        </div>

        <div
          class="flex flex-col justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none"
        >
          <p class="text-sm text-gray-600">Languages</p>
          <p class="text-base font-medium text-navy-700 dark:text-black">
            English, Spanish, Italian
          </p>
        </div>

        <div
          class="flex flex-col items-start justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none"
        >
          <p class="text-sm text-gray-600">Department</p>
          <p class="text-base font-medium text-navy-700 dark:text-black">
            Product Design
          </p>
        </div>

        <div
          class="flex flex-col justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none"
        >
          <p class="text-sm text-gray-600">Work History</p>
          <p class="text-base font-medium text-navy-700 dark:text-black">
            English, Spanish, Italian
          </p>
        </div>

        <div
          class="flex flex-col items-start justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none"
        >
          <p class="text-sm text-gray-600">Organization</p>
          <p class="text-base font-medium text-navy-700 dark:text-black">
            Simmmple Web LLC
          </p>
        </div>

        <div
          class="flex flex-col justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none"
        >
          <p class="text-sm text-gray-600">Birthday</p>
          <p class="text-base font-medium text-navy-700 dark:text-black">
            20 July 1986
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
